---
import "../styles/global.css";
---

<div>
    <section class="bg-blue-500 text-white py-16 text-center">
        <div class="max-w-2xl mx-auto px-4">
            <h2 class="text-3xl font-bold mb-6">Ready to Start Playing?</h2>
            <p class="mb-8 text-xl">
                Dive into the fast-paced, brain-teasing world of Set, the ultimate pattern-matching game! Sharpen your mind as you race to spot sets of cards where everything is either perfectly alike or completely different—can you keep up?
            </p>
            <button class="bg-white text-blue-500 hover:bg-gray-100 font-bold py-3 px-6 rounded-full">
                Download Now
            </button>
        </div>
    </section>
</div>