---
import "../styles/global.css";
---

<div id="container">
<main>
    <!-- Hero Section -->
    <!-- <section class="relative h-screen bg-blue-600 flex items-center justify-center text-white text-center"> -->
    <section id="hero" class="relative h-screen bg-cover bg-center flex items-center justify-center text-white text-center" style="background-image: url('/src/assets/hero-bg.svg')">
    <div class="relative z-10 px-4">
        <img 
        src="/src/assets/title.svg" 
        alt="Game Logo" 
        class="mx-auto mb-4 max-w-xs h-auto"
        />
        <p class="text-xl mb-8 text-black">Match, Solve, Win!</p>
        <button onclick="location.href='https://apps.apple.com/us/app/dang-set-match-solve-win/id6740111728'" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-full">
            Download on the App Store
        </button>
    </div>

    </section>
</main>
</div>