<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Dang Set - Match, Solve, Win!</title>
	</head>
	<body>
        <div class="flex items-center justify-center h-screen text-center">
            <slot /> <!-- The title and subtitle will go here -->
          </div>
	</body>
</html>